@model PROG6212POE.Models.Module

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklyHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeklyHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelfStudyHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelfStudyHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSelfStudyHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSelfStudyHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ModuleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
